body { 
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif; 
	font-size: 13px; 
	line-height: 18px; 
	color: #737373; 
	margin: 10;
}

p { 
	margin-bottom: 9px;
}

h1,h2,h3,h4,h5,h6 {  
	margin-bottom: 1px; 
	color: #404040; 
	line-height: 36px;
}

hr {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
}

.myphoto{
	float:left;
	width: 210px;
}

.floatstop{
	clear:both;
}

#ref {
	text-align: center;
}

a:hover {
	color:red;
}
a:visited {
	color:purple;
}





}